@model IEnumerable<project_task_manager.Models.ApplicationTask>

@using project_task_manager.Enums 

@{
    ViewData["Title"] = "My Tasks";
}

<div class="calendar-background">
    <h1>My Tasks</h1>

    @if (!Model.Any())
    {
        <p class="no-tasks-message">You have no tasks!</p>
    }
    else
    {
        <div class="tasks-container">
            @foreach (var task in Model)
            {
                <div class="task-card @($"priority-{task.Priority.ToString().ToLower()}")">
                    <h2>@task.Title</h2>
                    <p>@task.Description</p>
                    <p><strong>Priority:</strong> @task.Priority</p>
                    <p><strong>Status:</strong> @task.Status</p>
                    <p><strong>Assigned:</strong> @task.Executor?.Email</p> 
                    <p><strong>Project:</strong> @task.Project?.Title</p> 
                    <div class="task-actions">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@task.ID">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@task.ID">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@task.ID">Delete</a>

                        @if (task.Status == Status.Done && !string.IsNullOrEmpty(task.Solution))
                        {
                            <a class="btn btn-success" asp-action="EditSolution" asp-route-id="@task.ID">Edit Solution</a>
                        }
                        else if (task.Status != Status.Done)
                        {
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@task.ID">Add Solution</a>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
